<h1>Search</h1>
<div class="search-form">
    <form method="POST">
        <div class="form-group">
            <label for="search-form">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-form" 
                placeholder="Nhập từ khóa">
            
        </div>
        
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>